<%= provide(:title, "Tests") %>

<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<h1>Tests</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-3">Name</th>
      <th class="col-md-9">Description</th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.name, exam %></td>
        <td><%= exam.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

Have an idea? <%= link_to 'Create your own test.', new_exam_path %>
