<%= provide(:title, "Tests") %>

<div class="jumbotron writing no-padding">
  <div class="container">
  </div>
</div>

<h1>Tests</h1>

<table>
  <thead>
    <tr>
      <th colspan="16"></th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @exams.each do |exam| %>
      <tr>
        <td><%= link_to exam.name, exam %></td>
        <td><%= exam.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New test', new_exam_path %>
