<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <th class="col-md-12">
      <%= @exam.name %>
    </th>
  </thead>
  <tbody>
    <td><%= @exam.description %></td>
  </tbody>
</table>

<%= link_to 'Back', exams_path %>
